<p>David Spiher and Ralph Thurlow sat side by side on the sofa, ignoring the cats chasing each other under the coffee table and around their legs.</p>

<p>David watched, his face unreadable, as Ralph talked about Walter — the man whom Ralph believes lives across the street from them in Hayward. The man whom he believes is the adult son he abandoned.</p>

<p>“I should knock on the door and see if he needs anything,” Ralph said, beginning to stand.</p>

<p>David shook his head, smiling a little because how else could he react? Walter doesn’t exist. Walter is an invention of Ralph’s dementia.</p>

<p>“No,” David said, gently. “Let’s not do that.”</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12034977/3/1000x1000.jpg">
    <div class="caption">Ralph Thurlow (left) and David Spiher, at their home in Hayward, are dealing with Thurlow’s  health challenges as a long-term HIV survivor. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>Ralph, 57, and David, 58, are both HIV-positive — Ralph since 2004, David since 1985. For many years they’d been relatively healthy, with good careers and a new house in Hayward, imagining a long, peaceful future together.</p>

<p>Then Ralph was diagnosed with HIV-Associated Neurocognitive Disorder. It’s a condition not unlike Alzheimer’s disease, and it’s ultimately fatal. For a while, Ralph’s symptoms were mild; he sometimes fumbled for words, got dates or places wrong, but unless you knew him well you might not notice that anything was wrong.</p>

<p>That changed when David realized one day last March that Ralph had been hearing voices, perhaps for months. And the voices were scaring Ralph — they were saying cruel things about him, or telling him awful stories about the people around him.</p>

<p>Doctors put Ralph on anti-psychotic drugs, but they made him dopey and vague. It was only after the voices got so bad that David was forced to hospitalize Ralph, in September, that they got the meds adjusted. Since then, the delusions have continued, but they aren’t as upsetting. And Ralph is mostly back to his wry, conversational self.</p>

<div class="float-img-container">
  <div class="float-img left">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12040079/3/1000x1000.jpg">
    <div class="caption">David Spiher is incorporating clocks drawn by his partner, Ralph Thurlow, into his art. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>But his outlook remains grim. At a doctor’s appointment recently, a neurologist told David that Ralph is in the later stages of his illness. It wasn’t the delusions that bothered her, but that he has trouble dressing himself — he puts his shirts on inside out, or his pajamas over his pants.</p>

<p>Eventually, Ralph will have trouble feeding himself and walking. He’ll struggle with swallowing, and start to choke. People with dementia don’t die from the cognitive decline, but from pneumonia or asphyxiation.</p>

<p>David keeps a stack of papers on their kitchen table. They’re all clocks that Ralph has drawn — a standard diagnostic tool for people with dementia. In the early stages patients will know to draw a circle for a face, and numbers in some order, with hands pointing to the time. In Ralph’s drawings, sometimes the numbers are all lumped to one side, or floating in space with no circle at all.</p>

<p>People sometimes tell David that he should live in the moment. “Meet Ralph where he’s at,” they say. David looks at the clocks. “But where is he?”</p>

<p>He’s started incorporating Ralph’s clocks into his art — paintings of Ralph, or of the two of them. As he rifled through his recent works one day, Ralph sat quietly on the couch, watching.</p>

<p>He said, when asked, that he likes participating in David’s art. “It’s fine,” he said. And then, unprompted, he went on.</p>

<p>“I just don’t want to take up too much time,” Ralph said. “You’re always losing time.”</p>
