<p>The plan had been to stay home all summer and start long overdue renovations on their home in the Oakland Hills. But then came the calls for help, and Ganymede — along with his two partners, Cullen Frandsen and Warren Page — couldn’t resist.</p>

<p>In April and again in July, Ganymede, 60, was in North Carolina, helping his father and stepmother with work around their home, cleaning gutters and clearing out bushes and clutter on the property. It was hours of sweaty manual labor but for Ganymede — HIV-positive for 31 years and at times debilitated by symptoms of his long-term infection — it was wonderful to feel so full of energy, and to be able to help others like he’s been helped before.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12034994/3/1000x1000.jpg">
    <div class="caption">Ganymede (left), a long-term AIDS survivor, sits with his partners, Cullen Frandsen and Warren Page, at their home in Oakland. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>Later in the summer he went to Utah, to visit Cullen’s new granddaughter and help Cullen’s daughter while she recovered from childbirth. Cullen also had a wedding to attend, and Warren a family reunion.</p>

<p>And Ganymede went to a funeral, for a man who’d been another long-term AIDS survivor. “For such a sad event,” Ganymede said, “it was very uplifting.”</p>

<p>Participating in Last Men Standing made Ganymede and his partners acutely aware of how much the community of survivors is struggling. It also helped them appreciate just how fortunate they are — to have their home, to have each other, to be healthy enough to travel and help others when they’re needed.</p>

<p>“You’ve got right now and you’ve got to make the most of it,” Ganymede said one afternoon, as the three of them sat on their patio sipping lattes Cullen had made.</p>

<p>“Facing mortality opens these pathways to humanity,” Ganymede said, turned abruptly philosophical. “I’ve been blessed to take advantage of that awareness.”</p>

<p>The house, he said, can wait.</p>
