<p><span class="dropcap">T</span>he plan this past summer had been to stay put and start long-overdue renovations on their Oakland hills house. Then came the calls for help, and Ganymede — along with his two partners, Cullen Frandsen and Warren Page — couldn’t say no.</p>

<p>In July, Ganymede, who is 60 and goes by a single name, traveled to North Carolina, helping his father and stepmother with work around their home, cleaning gutters and clearing out bushes and clutter.</p>

<p>It was hours of sweaty manual labor, but Ganymede — HIV-positive for 31 years and at times debilitated by his infection — reveled in feeling so full of energy, and in the opportunity to help others like he’s been helped before.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12034994/3/1000x1000.jpg">
    <div class="caption">Ganymede (left), a long-term AIDS survivor, sits with his partners, Cullen Frandsen and Warren Page, at their home in Oakland. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
  </div>
</div>


<p>Later in the summer he went to Utah, to visit Cullen’s new granddaughter and help his daughter recover from childbirth. Cullen also had a wedding to attend, and Warren a family reunion.</p>

<p>And Ganymede went to a funeral for another long-term AIDS survivor. He lost dozens of friends in the 1980s and 1990s, reaching a point where his grief became overwhelming. Like many men of his generation, he was emotionally scarred.</p>

<p>This memorial, at least, was for someone who’d lived a full life. “For such a sad event,” Ganymede said, “it was very uplifting.”</p>

<p>“Last Men Standing” made Ganymede and his partners acutely aware of how much the community of survivors is struggling. They’ve gained new appreciation of their fortune — that they have each other and their home, that they are healthy enough to travel and help others.</p>

<p>“You’ve got right now, and you’ve got to make the most of it,” Ganymede said one afternoon, as the three men lounged on their patio sipping lattes Cullen had made.</p>

<p>“Facing mortality opens these pathways to humanity,” Ganymede said, suddenly turning philosophical. “I’ve been blessed to take advantage of that awareness.”</p>

<p>The house, he said, can wait.</p>
