<p>The day after the election Harry Breaux was fighting despondency.</p>

<p>“I’m trying to look for the silver lining,” he said, raising his voice over the construction going on outside his bedroom window, where crews were digging up the street to lay new pipes.</p>

<p>The noise quieted for a moment, and so did Harry. “I’m realizing I’m not going to live through a renaissance,” he said. “The despondency comes from looking back on the world we’re making.”</p>

<p>Harry, 71, is dismayed by the state of the world — by the election of Donald Trump and the triumph of conservative values in so many parts of the country. He feels betrayed by a society that had seemed to be leaning toward acceptance.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12034997/3/1000x1000.jpg">
    <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>Closer to home, where he’s been involved in drawing attention to the community of long-term AIDS survivors, he also has moments of despair. His story has been on the big screen now, shared with thousands of people around the country — the world, even. And still he feels largely forgotten, or ignored.</p>

<p>Harry was diagnosed HIV-positive in 1985, though he thinks he was infected far earlier than that. He was an early activist in the AIDS epidemic, but for a while in the 1990s and beyond, he checked out, weary of all the loss and the grieving.</p>

<p>He’s remaking connections with his peers, the other survivors. In August, he moved into a new apartment near Golden Gate Park, where he lives with two other long-term survivors, their rent partially covered by subsidies for people with HIV.</p>

<p>But he finds the ongoing struggle for support, even for acknowledgment, burdensome. It leaves him frustrated and angry, or sometimes just exhausted.</p>

<p>Lately, he’s found himself refocusing. His partner of two years, George Kelly, is full of lively, big plans for raising AIDS awareness and passing on the stories of their generation to younger people. Harry’s new purpose, he said, is simply to support George.</p>

<p>“If I can draw attention to his star, that’s plenty.”</p>
