<p><span class="dropcap">T</span>he day after the election, Harry Breaux was fighting despondency.</p>

<p>“I’m trying to look for the silver lining,” he said, raising his voice over the construction outside his bedroom window near Golden Gate Park, where crews were digging up the street to lay new pipes.</p>

<p>The noise quieted for a moment, and so did Harry. “I’m realizing I’m not going to live through a renaissance,” he said. “The despondency comes from looking back on the world we’re making.”</p>

<p>Harry, 71, is dismayed by the state of the world — by the election of Donald Trump and what seems like the triumph of intolerance in so many parts of the country. He feels betrayed by a society that had seemed to be leaning toward acceptance.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12034997/3/1000x1000.jpg">
    <div class="caption">Harry Breaux engages in conversation in a cafe near his home in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
  </div>
</div>

<p>Harry also has had moments of despair closer to home, where he’s been involved in drawing attention to the community of long-term AIDS survivors. While his story has been shared with thousands of people around the country, he feels his plight, and that of his peers, remains largely forgotten or ignored.</p>

<p>Harry was diagnosed HIV-positive in 1985, though he thinks he was infected long before that. He was an early activist in the AIDS epidemic, but for a while in the 1990s and beyond, he checked out, weary of the immense loss and the grieving.</p>

<p>Now he’s rebuilding connections with his fellow survivors. In August, he moved into a new apartment, where he lives with two other long-term survivors, their rent partially covered by subsidies for people with HIV.</p>

<p>To Harry, working to change HIV policy and demand public acknowledgment of survivors feels at times like a Sisyphean task. Lately, he’s tried refocusing his energy. His partner of two years, George Kelly, is full of big and lively plans for raising AIDS awareness and passing on the stories of their generation to younger people.</p>

<p>Harry’s new purpose is simply to support George.</p>

<p>“If I can draw attention to his star,” he said, “that’s plenty.”</p>
