<p>Kevin VandenBergh crossed his new Mission Bay apartment, through the kitchen and living area, past the bookshelf that gives him some privacy for a bedroom.</p>

<p>He moved here in September, in large part to get out of the “toxic” environment in his old place above the Castro, with a roommate he never got along with. He doesn’t have to tiptoe around his own space now, or deal with taunts or angry blowups that seemed to come out of nowhere.</p>

<p>“But I’m just as lonely now as before,” Kevin said. He went to the two tall windows beside his bed and lifted the blinds. “And this is my view.”</p>

<div class="float-img-container">
  <div class="float-img left">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12035093/3/1000x1000.jpg">
    <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>In his old apartment, he had sweeping views of the city and the bay, all the way to Mount Diablo, though he rarely took the time to appreciate them. In this place, the open blinds reveal slabs of gray concrete: the side of the building just across from him.</p>

<p>“It all comes back to me feeling alone and disconnected,” Kevin said later, sitting across from the windows, the blinds drawn again. “Sometimes I feel like I should just shuffle off.”</p>

<p>Depression can be a terrible burden, and Kevin, 57, has struggled with it his entire life. It complicates, and is complicated by, HIV, which he’s had for 30 years.</p>

<p>For months in the past year Kevin seemed to be doing well. He changed therapists. He got his new apartment. He made new friends, and was going to weekend retreats and dances for long-term survivors.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12040201/3/1000x1000.jpg">
    <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>But lately the depression has been triumphing again. He still volunteers once a week at an elementary school in the Castro, but he goes out less often. He skipped the last survivors’ retreat in December. He’s lost weight, enough so that people have commented on it.</p>

<p>When he does manage to get out, he’s almost always glad for it. The day before Thanksgiving, he joined a support group for AIDS survivors for an annual dinner and later said it was good to be there, among people who know where he comes from because they’ve been there too.</p>

<p>They understand, he said, “that people stumble and fall, stumble and fall.” That the path forward is full of second chances — many times over.</p>

<p>If there’s one thing he’s learned, and is trying to hold on to, from sharing his story of AIDS survival, it’s that there’s value in community and in opening himself up. That he doesn’t have to keep going all on his own.</p>

<p>“Once you’ve opened your heart to people, they’ve seen you,” Kevin said. “And you’ll always be seen.”</p>
