<p><span class="dropcap">K</span>evin VandenBergh crossed his new studio apartment, through the kitchen and living area, past the bookshelf that grants the bedroom some privacy.</p>

<p>He moved to San Francisco’s Mission Bay in September, in large part to escape the “toxic” environment in his old place above the Castro with a roommate he never got along with. He doesn’t have to tiptoe around his own space now, or deal with taunts or angry blowups that seemed to come out of nowhere.</p>

<p>“But I’m just as lonely now as before,” Kevin said. He walked to the two tall windows beside his bed and lifted the blinds. “And this is my view.”</p>

<div class="float-img-container">
  <div class="float-img left">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12035093/3/1000x1000.jpg">
    <div class="caption">Kevin VandenBergh's photograph of his beloved cat, Truman, sits in his apartment in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
  </div>
</div>

<p>In his old apartment, he had sweeping views of the city and the bay, all the way to Mount Diablo, though he rarely took the time to appreciate them. In the new place, opening the blinds reveals the gray concrete side of the building across from him.</p>

<p>“It all comes back to me feeling alone and disconnected,” Kevin said later, the blinds drawn again. “Sometimes I feel like I should just shuffle off.”</p>

<p>Depression can be a terrible burden, and Kevin, 57, has struggled with it his entire life. HIV, which he’s had for 30 years, adds a profound complication.</p>

<p>His mental health has at times interfered with his ability to take care of himself and manage his illness. And the social complexities of living with HIV — financial insecurity and isolation, in particular — can make his depression worse.</p>

<p>For several months this year, Kevin seemed to be doing well. He changed therapists. He got his new apartment. He made new friends and went to weekend retreats and dances for long-term survivors.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12040201/3/1000x1000.jpg">
    <div class="caption">Kevin VandenBergh, in his new San Francisco apartment, is a long-term AIDS survivor. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
  </div>
</div>

<p>Lately, though, the depression has swelled. He still volunteers once a week at an elementary school in the Castro, but he goes out less often. He skipped the last survivors’ retreat this month. He’s lost weight, enough so that people have commented on it. Already, he’s worried about affording his new apartment when his disability insurance changes in seven years and he loses half his income.</p>

<p>When he does manage to get out, he’s almost always glad for it. The day before Thanksgiving, he joined a support group for AIDS survivors at an annual dinner. Afterward, he said it had been good to be there, among people who know where he comes from because they’ve been there, too.</p>

<p>They understand, he said, “that people stumble and fall, stumble and fall.” That the path forward is full of second chances, many times over.</p>

<p>If there’s one thing he’s learned from sharing his story of AIDS survival, it’s the deep value of community. That he doesn’t have to keep going all on his own. That instead, he can reveal himself.</p>

<p>“Once you’ve opened your heart to people, they’ve seen you,” Kevin said. “And you’ll always be seen.”</p>
