<p><span class="dropcap">R</span>oughly four nights out of every 10, Mick Robinson gets just a couple hours of sleep. One night in 10, he doesn’t sleep at all.</p>

<p>“It’s kicking my ass,” he said one recent afternoon of his insomnia, passing on a cup of coffee because he was already over-caffeinated. “I’m just always tired. But I push on.”</p>

<p>Mick, who is 58 and lives in San Francisco, is on the other side of what could be described as a midlife crisis. Around age 50, he fell into a deep depression — the “dark period,” he calls it — when the full weight of decades of drug abuse, mental illness and HIV infection caught up with him.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12035102/3/1000x1000.jpg">
    <div class="caption">Mick Robinson was among the men featured in “Last Men Standing.” <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
  </div>
</div>


<p>He pulled himself out of it, though, and his rebound has been remarkable. In the past year alone, he took classes in peer counseling at San Francisco State University, volunteered on multiple councils that advocate for people with HIV/AIDS, and started working.</p>

<p>In his internship with Richmond Area Multi-Services, he leads seven support group meetings a week for people struggling with mental health and substance-abuse issues.</p>

<p>He is wildly busy but loves the work. “A lot,” he said, and grinned. “A lot.</p>

<p>“The group dynamic excites me. You can really see them light up and engage,” he said. “And I’m realizing I’m really good at this work. I’m confident.”</p>

<p>Mick is hoping to parlay his internship into a permanent, part-time job. At the same time, he’s planning to start another two-year program at school, this time in community behavioral health. And soon, he’ll move out of his studio apartment in the Tenderloin to 55 Laguna, an affordable-housing project run by Openhouse, an LGBT-focused senior agency.</p>

<p>He’s got more plans too, personal ones. He wants to quit smoking. He wants a romantic partner.</p>

<p>“Everyone seems to be married or in a relationship,” he said with a sigh. “It’s annoying.”</p>

<p>And, some days, he just wants a nap.</p>
