<p>Mick Robinson has insomnia. One night in 10, he says, he doesn’t sleep at all. Another four nights, he might only get a couple hours.</p>

<p>“It’s kicking my ass,” he said one afternoon, passing on a cup of coffee because he was already over-caffeinated. “I’m just always tired. But I push on.”</p>

<p>Mick, 58, is on the other side of what could be described as a midlife crisis. Around age 50, he fell into a deep depression — the “dark period,” he calls it — when the full weight of decades of drug abuse, mental illness and HIV infection caught up with him.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12035102/3/1000x1000.jpg">
    <div class="caption">Mick Robinson was among the men featured in “Last Men Standing.” <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>He pulled himself out of it, and his rebound has been remarkable. In the past year alone, he’s been taking classes in peer counseling, he’s volunteered on multiple councils that advocate for people with HIV/AIDS, and he’s started working.</p>

<p>His job — he’s an intern with Richmond Area Multi-Services — has him leading seven support group meetings a week for people struggling with mental health and substance abuse issues.</p>

<p>His schedule is wildly busy. But he loves the work. “A lot,” Mick said, and grinned. “A lot.”</p>

<p>“The group dynamic excites me. You can really see them light up and engage,” he added. “And I’m realizing I’m really good at this work. I’m confident.”</p>

<p>He’s hoping to parlay the internship into a part-time, permanent job. He’s got plans for more education, too. And this month, he’s moving out of his studio apartment in the Tenderloin to 55 Laguna, an affordable housing project run by Openhouse, an LGBT-focused senior agency.</p>

<p>He’s got more plans too, personal ones. He wants to quit smoking. He wants a romantic partner. “Everyone seems to be married or in a relationship,” he said with a sigh. “It’s annoying.”</p>

<p>And, some days, he just wants a nap.</p>
