<p>Peter Greene died ten months ago, but Eileen Glutzer sees him, in one way or another, every day.</p>

<p>She’ll find an old coat he left behind in her closet, or a pair of his boots. There are photos, of course. And the ceramic mugs he painted for her every Christmas — she has a shelf full of them.</p>

<p>“Death puts things in perspective,” Eileen said, sitting in her sunny living room. “You don’t realize what matters until someone’s gone.”</p>

<p>Eileen was first Peter’s nurse, not long after he was diagnosed with HIV in 1985. Then she was his friend, and finally his family. In the end, she was the one who inherited almost everything: his scrapbooks and photos, his framed posters and paintings, his entire trailer in Palm Springs, where he’d been living since his apartment in San Francisco was sold and he was forced to leave the city he loved.</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12044217/3/1000x1000.jpg">
    <div class="caption">Peter Greene has a cup of coffee and pancakes at It's Tops Coffee Shop on Market Street following a night of singing songs accompanied by friends on the piano at Martuni's on in San Francisco, Calif. on Tuesday, September 22, 2015. <span class="byline">Tim Hussin, Special to The Chronicle</span></div>
  </div>
</div>

<p>Eileen was the one who spread Peter’s ashes last July, near a favorite camping spot in the Sierra Gold Country.</p>

<p>Peter died, suddenly, of liver failure on Feb. 10. The last time Eileen saw him, he was staying in her home while he visited San Francisco. They had a bad fight — the kind of dumb argument that old friends get into sometimes, and that resolves itself after a few days’ silence. Peter left without saying goodbye.</p>

<p>She managed to talk to him one more time, while he was the hospital in Palm Springs. She told him she was on her way down. She told him she’d be there.</p>

<p>She wasn’t able to make it in time.</p>

<p>Eileen lost so many people during the worst years of the AIDS epidemic. Patients who’d become friends, or friends who’d become patients. But Peter was special. Peter was family.</p>

<p>“I always knew Peter was going to die, too,” she said, “and then one day, he did.”</p>

<p>She still talks to him, out loud in her home. Some mornings she’ll sing, reminded of the showtunes they’d belt out together over breakfast.</p>

<p>One day she was in her garden, and she came across a flower she’d never seen. And she knew, without thinking, who had planted the bulb months before.</p>

<p>“Hi, Peter,” she said. “It’s so beautiful. Thank you.”</p>
