<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <!-- scripts for stand-alone projects, comment for embedded projects -->
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

    <div class="full-width-img lms-mobile">
      <img src="http://ww2.hdnux.com/photos/54/11/64/12035057/3/2000x1000.jpg">
      <div class="caption">Jesus Guillen pets his cat, Mija, in his apartment in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
    </div>
    <div class="lms-mobile-title">
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank"><div class="title-not-mobile">Last Men Standing</div></a>
      <h1 class="title long">Still Standing</h1>
      <div class="deck">Jesus Guillen, one face of AIDS survival, fights anew for recognition, while still fighting to stay alive</a></div>
      <div class="social-container">
        <div class="link-icon">
          <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
            <i class="fa fa-facebook"></i>
          </a>
        </div>

        <div class="link-icon">
          <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <div class="link-icon">
          <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="author">By Erin Allday</a></div>
      <div class="date">December 2016</div>
    </div>
    <div class="title-container">
      <div class="background-img lms">
          <div class="dim"></div>
        <div class="over-img dim">
        <div class="lms-img">
          <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank"><div class="title-not-mobile left">Last Men Standing</div></a>
          <h1 class="title long">Still Standing</h1>
          <div class="deck">Jesus Guillen, one face of AIDS survival, fights anew for recognition, while still fighting to stay alive</a></div>

          <div class="title-link-container">
            <span class="title-link">
              <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
                <i class="fa fa-facebook"></i>
              </a>
            </span>

            <span class="title-link">
              <a id="twitter-icon" title="Share on Twitter" href="<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
                <i class="fa fa-twitter"></i>
              </a>
            </span>
            <span class="title-link">
              <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0A<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div class="author">By Erin Allday</a></div>
          <div class="date">December 2016</div>

          <a href="#top"><div class="lms-link">Read Jesus' story</div></a>
          <a href="http://projects.sfchronicle.com/2016/aids-survivors/portraits/" target="_blank"><div class="lms-link bottom">Read other survivors' stories</div></a>
        </div>
        </div>
      </div>
    </div>
    <p class="caption landing caption-desktop">Jesus Guillen pets his cat, Mija, in his apartment in San Francisco. <span class="byline"> Erin Brethauer, Special to The Chronicle</span></p>

    <div class="mainbar" id="top">
      <%= t.include("partials/_mainbar.html") %>
    </div>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>

    <script src="../app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
