<div class="divider">
</div>

<div class="credits">
  <div class="entry">Reporter:  <br>Erin Allday • <a href="mailto:jking@sfchronicle.com">eallday@sfchronicle.com</a> • <a href = "https://twitter.com/erinallday" target="_blank">@erinallday</a></div>
  <div class="entry">Videographer and photographer: <br>Erin Brethauer • <a href = "https://www.instagram.com/erinbrethauer/" target="_blank">@erinbrethauer</a></div>
  <div class="entry">Interactive producer:  <br>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
</div>
