<div class="infobox">
	<p class="info-title">Last Men Standing</p>
	<img src="../assets/photos/lms.gif">
  	<p class="text">Read the original <a href="http://projects.sfchronicle.com/2016/living-with-aids/story/">"Last Men Standing"</a> story on eight long-term survivors of the AIDS epidemic. Learn about the <a href="http://projects.sfchronicle.com/2016/aids-survivors/portraits/">journeys</a> of these Bay Area men since the yearlong reporting effort and the release of the accompanying feature-length documentary.</p>
</div>



