<p>Jesus Guillen pushed his way through the bustling exhibition hall, past the drug company handing out gummy candies and the HIV awareness group planting smiley-face stickers on everyone’s name badges.</p>

<p>“Mija,” he said, tugging a reporter toward a man in a white lab coat. “Come here. This doctor is the one you need to meet.”</p>

<p>Jesus, 56, was on the prowl at the United States Conference on AIDS in September, working the room like a traveling salesman or talent scout. The gathering in Florida, just north of Miami, offered a wealth of potential allies in his work fighting for long-term survivors of AIDS.</p>

<p>That night, Jesus attended a screening of “Last Men Standing,” a documentary featuring him and other survivors. He had changed from casual beachwear to flowing black pants laced up the sides, over a flashy pair of beat-up black boots. He was exuberant. During a question-and-answer panel after the film, he ran into the audience to hug a woman who cried while relating her own story of survival.</p>

<p>Jesus returned to San Francisco, made plans to reconnect with his Florida contacts. But a month later, he was in so much pain he could barely walk. He limped out of a doctor’s office, leaning on a cane like it was the only thing keeping him upright.</p>

<p>“Mija,” he said, his voice a croak. “I need to go to the hospital now.”</p>

<p><br />
</p>

<div class="float-img-container">
  <div class="float-img right">
    <img src="http://ww2.hdnux.com/photos/54/11/64/12035080/3/2000x1000.jpg">
    <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
  </div>
</div>

<p>Jesus is one face of AIDS survival. Diagnosed with HIV in 1986, he is one of roughly 6,000 gay men in San Francisco who were infected with the virus before treatments were discovered, back when HIV was almost always a death sentence. They outlived the epidemic, only to find themselves in a lasting struggle with unexpected, and sometimes debilitating, consequences of survival.</p>

<p>Early this year, Jesus was one of eight men profiled by The Chronicle in “Last Men Standing” — a reporting project on aging survivors of HIV and AIDS that included a feature-length documentary. Of those eight survivors, one died before his story could be published.</p>

<p>In the months since, the other seven men have mostly thrived, some more than others, and all have, at times, continued to languish. Three have moved into new homes. Two have experienced serious medical problems. One is about to get a new job. One continues to battle severe depression. Their chronic battles — and their joys and their griefs — reflect the seemingly endless struggles of their generation.</p>

<p>Jesus flourished in his newfound spotlight, before he was swept up in his illness. Long a tireless, if relatively quiet, advocate for his fellow peers, he sought to draw attention to the unique needs of long-term survivors, who’d felt forgotten as HIV became a treatable condition, and the urgency of the AIDS epidemic faded.</p>

<p>Many survivors continue to face serious health risks, either from the infection or from their protracted use of the medications to treat the virus. Others are struggling with mental health issues. They <b>often</b> live in severe isolation, or with depression and anxiety. Financial troubles are widespread.</p>

<p>Jesus’s recent illness, from which he’s only just starting to recover, shook him badly. At the same time, it sharpened his focus on how much work must still be done to bring critical services to long-term survivors.</p>

<p>“I don’t want to die. But I don’t know how long I have,” Jesus said one recent afternoon, sitting cross-legged on his bed in his Hayes Valley apartment. His cat, named Mija like the nickname he gives to friends, patrolled his bedroom, pacing the perimeter before allowing Jesus to pet her.</p>

<p>“One thing I got from this,” he said, “is I don’t have time to play nice and kiss ass.”</p>

<p><br />
</p>

<div class="inline-img">
  <img src="http://ww2.hdnux.com/photos/54/11/64/12035082/3/2000x1000.jpg">
  <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
</div>

<p>In the Bay Area and beyond, the survivor community has seen experienced a whirlwind of activity over the past year, in particular among gay men now in their 50s and 60s who were infected during the worst years of the AIDS epidemic.</p>

<p>At public screenings of the “Last Men Standing” documentary — in San Francisco, New York, Portland, Chicago and a dozen other cities — survivors often stood at the end of the film to share their own stories. They came up to Jesus or one of the other men who were featured to say that now, finally, they didn’t feel so alone.</p>

<p>Many wanted to talk<b>/ask/hear?</b> about what’s being done to help them, and what they could do to help themselves.</p>

<p>The increased attention has yielded some answers.In San Francisco, the city set aside money for research into survivor needs and services, with plans to <b>increase that </b>funding next year. UCSF added a geriatric clinic to treat older patients in the HIV ward it runs at San Francisco General Hospital.</p>

<p>In the survivor community, there’s a major push to bring people together for social support.</p>

<p>Jesus had started a Facebook group for survivors in the summer of 2015, and it now has more than 3,500 members. The Elizabeth Taylor 50-Plus Network, an informal support group run by the San Francisco AIDS Foundation, has seen attendance at its weekly meetings explode; 90 people attended its annual Thanksgiving dinner, three times as many as the first holiday gathering three years ago.</p>

<p>“Over the span of this year so much has happened, especially in the Bay Area,” said Matt Sharp, a long-term survivor who this month published a report on the “unintended consequences of AIDS survival.”</p>

<p>“We’ve made a lot of progress,” Sharp said. “It’s actually a good time for us in San Francisco. We just have to keep the momentum going.”</p>

<p>His report, funded by drug company Bristol-Meyers Squibb, is meant as a road map for identifying survivors and providing them services. Treatment and support are critically needed, the paper says, for post-traumatic stress, depression, anxiety, isolation and, in some cases, drug and alcohol abuse. Then there are severe health risks — like cancer, diabetes and secondary infections — that may be tied to long-term exposure to HIV.</p>

<p>One theme of Sharp’s report is how little is understood about long-term survivors. It’s not known how many there are in the United States, or the extent of their mental and physical health needs. <b>Estimates of</b> PTSD rates, for example, <b>range widely,</b> from “5 to 74 percent” among HIV survivors,<b> he said</b>.Clearly, Sharp wrote, “more intensive research needs to be done.”</p>

<p>Early next year, San Francisco will begin <b>doing just that, with a</b> formal survey of survivors that will assess their needs. The city agreed to fund the survey, at an initial cost of about $150,000, in February.</p>

<p>Another potential source of aid could be a measure passed by San Francisco voters in November that sets aside $35 million for programs for seniors and disabled adults. Long-term survivor groups are hoping to <b>obtain some</b> of that money for their needs.</p>

<p>“I’ve spent my entire adult life being hopeful — hopeful they’d find a cure, hopeful they’d save my friends, hopeful my friends would live longer,” said Vince Crisostomo, a long-term survivor who runs the 50-Plus Network. “That hasn’t changed.”</p>

<p><br />
</p>

<div class="photo-gallery0">
  <div class="scroll-left-gallery0 first" id="scroll-left-gallery0"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scroll-right-gallery0" id="scroll-right-gallery0"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  <% for (var idx=0; idx < 6; idx++) { %>
    <% if (idx == 0){ %>
      <div class="photo_g0 active" id="photo_g00"></div>
    <% } else { %>
      <div class="photo_g0" id=photo_g0<%=idx%>></div>
    <% } %>
  <% } %>
</div>

<p>Jesus typically would share Sharp and Crisostomo’s optimism. He is a man with a personality as sunny and flamboyant as his wardrobe and dyed blond hair.</p>

<p>But lately he’s struggled to remain hopeful. Part of this XXXX traces to his recent illness, which reminded him of his enduring frailty. But it was also witnessing the prodigious amount of work that remains in drawing attention to his community of survivors.</p>

<p>On the Facebook group he founded, he sees men and women reaching out to each other — glad for the support, but still feeling alone, abandoned, and scared for their futures.</p>

<p>In July, Jesus went to the International AIDS Conference in South Africa, invited to represent “Last Men Standing” at a film screening. He thrilled at the opportunity. But though he had a positive experience, and was warmly received, he was distressed by the overall lack of conversation about survivors at the conference.</p>

<p>Not a single lecture was devoted to the topic, he said. The event was focused on prevention, treatment, vaccine and cure research, and access to care.</p>

<p>Those are critical fields for the global epidemic, Jesus knows. But in the United States, at least, people age 50 and over — many of them infected for two or more decades — make up the bulk of all people with HIV. Yet they get so little attention.</p>

<p>“Many of the problems we’re having now are because we were not prepared,” Jesus said. “We never thought we’d get here.”</p>

<p>Isn’t ignoring these problems now, <b>he asked,</b> just repeating the same mistakes?</p>

<p>Still, he returned from South Africa ready for combat/to continue his crusade? At all hours, he’d post on his Facebook group or send messages to friends. “Our actions can have so much input in other peoples’ lives,” he wrote one night in August. “How much wood we put into the fire, it is up to us. But at least we try.”</p>

<p><br />
</p>

<div class="inline-img">
  <img src="http://ww2.hdnux.com/photos/54/11/64/12035095/3/2000x1000.jpg">
  <div class="caption">Caption. <span class="byline">Erin Brethauer, The Chronicle</span></div>
</div>

<p>He was still fighting a month later at the AIDS conference in Florida, though his energy was beginning to wane. Maybe the illness had started by then. He’d thought he was just run down from all the travel.</p>

<p>He had big plans: to attend another screening of “Last Men Standing” in New York, and maybe another in Spain. But the sickness came on quickly. By Oct. 20, the day he finally went to the hospital, his pain was so bad that it was “untouchable” by the strongest drugs he had on hand for his neuropathy. He couldn’t sleep. He would feel so ill that he’d vomit.</p>

<p>He missed the New York screening. He missed a dance held for long-term survivors in the Mission District. He missed a meeting to discuss the San Francisco needs assessment survey that he’d helped secure the funding for.</p>

<p>He was so weak he couldn’t talk on the phone, couldn’t email or go online at all. He stopped visiting his Facebook group. It was too much work, and he was so tired.</p>

<p>Doctors still don’t know what caused his illness, though they believe it was a particularly stubborn bacterial infection. They also don’t know why, over the summer, Jesus had a brief bout of Kaposi sarcoma — the disfiguring cancer that notoriously afflicts people with AIDS.</p>

<p>His HIV infection is under control, and yet Jesus is still scarily, frustratingly vulnerable.</p>

<p>Being so sick put his life, and his commitments, into sharper perspective. He learned, for instance, that sometimes he has to back off and take care of himself — that there are others who will pick up his work when he is unable. That’s a relief, but also a disappointment, he admits.</p>

<p>“I was very happy the Facebook group was going on without me,” Jesus said. “But at the same time, it was like, ‘Wait, the group can go on without me?’”</p>

<p>He’s rebounding now. He spent a weekend this month at a retreat for HIV survivors in Lake County. He’s back on Facebook. But he also recognizes that maybe it’s OK, sometimes, to let go.</p>

<p>“I do feel a lot of obligation and responsibility, and it’s too much sometimes. It’s like I have a Jesus complex,” he said with a soft laugh.</p>

<p>“Honestly,” he added, “I already feel like I’ve left my little grain of sand on the earth.”</p>
