<div id="stick-me" class="big-nav">

  <div class="one-line">
    <div id="project-link">
      <div class="link not-mobile">
        <a class="specialhead-top" href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">Last Men Standing</a>
      </div>
      <div class="link not-desktop">
        <a class="specialhead-top" href="http://projects.sfchronicle.com/2016/aids-survivors/story/" target="_blank">Still Standing</a>
      </div>
      <div class="link section story-link not-mobile">
        <a class="profiles" href="http://www.sfchronicle.com/aids-survivors/story/">Jesus' Story</a>
      </div>
      <div class="link section story-link not-mobile">
        <a class="original-story" href="http://projects.sfchronicle.com/2016/living-with-aids/story/" target="_blank">Original story</a>
      </div>
      <div class="link section story-link not-mobile">
        <a class="profiles" href="http://projects.sfchronicle.com/2016/living-with-aids/documentary/" target="_blank">Film</a>
      </div>
    </div>
    <div id="social-block">
      <div class="social-link">
        <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="social-link">
        <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="social-link">
        <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0A<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug %>">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="one-line">
    <div id="d" class="sub-title"><a href="#dsection">David & Ralph</a></div>
    <div id="g" class="sub-title"><a href="#gsection">Ganymede</a></div>
    <div id="k" class="sub-title"><a href="#ksection">Kevin</a></div>
    <div id="h" class="sub-title"><a href="#hsection">Harry</a></div>
    <div id="m" class="sub-title"><a href="#msection">Mick</a></div>
    <div id="p" class="sub-title"><a href="#psection">Peter</a></div>
  </div>

</div>
