//DELETE ME ===================================================================

.agency {
  float: left;
  padding: 20px;
}

.agencyINFO {
  display: none;
  padding-top: 200px;
}
#agencyINFO0 {
  display: block;
}




//===============================================================================

.top-img {
  margin-top: 0;
}

.profile-header {
  margin: auto;
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
}

.divider {
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.title-link-container {
  margin-bottom: 80px;
  .title-link {
    padding: 0 10px;
    font-size: 25px;
    a {
      color: white;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}

.mainbar {
  text-align: left;
  padding-top: 30px;
}

.credits {
  margin-bottom: 100px;
}

.nav-bottom {
  display: none;
}
