//DELETE ME ===================================================================

.agency {
  float: left;
  padding: 20px;
}

.agencyINFO {
  display: none;
  padding-top: 200px;
}
#agencyINFO0 {
  display: block;
}




//===============================================================================
a {
  .vignette-link {
    font-family: @block-graphics;
    border: 1px solid @dark-gray;
    padding: 5px;
    margin: 50px auto;
    text-align: center;
    max-width: 620px;
    font-size: 16px;
    margin-bottom: 100px;
    background: @dark-gray;
    color: white;
    &:hover {
      color: @dark-gray;
      background: white;
    }
  }
}

.top-img {
  margin-top: 0;
}

a {
.lms-link {
    color: white !important;
  }
}

.profile-header {
  margin: auto;
  text-align: center;
  font-size: 40px;
}
.profile-subhed {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  width: 40%;
  // font-style: italic;
  // font-family: @body-bold;
}

.divider {
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.title-link-container {
  margin-bottom: 80px;
  .title-link {
    padding: 0 10px;
    font-size: 25px;
    a {
      color: white;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}

.mainbar {
  text-align: left;
  padding-top: 30px;
}

.credits {
  margin-bottom: 100px;
}

.nav-bottom {
  display: none;
}

#stick-me {
  text-align: center;
  margin-bottom: 80px;
}

.sub-title {
  display: inline-block;
  border-bottom: 4px solid @light-gray;
  padding: 10px 5px 0px;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  font-family: @title;
  font-size: 18px;
  &.activelink {
    font-family: @body-bold;
  }
  // font-family: @block-graphics;

  &:nth-child(1){
  margin-left:0;
  }

  &:hover{
    border-bottom-color: darken(@red,10%);
  }

  @media @mobile{
    font-size:15px;
  }
}

.fixed {
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  background-color: lighten(@light-gray,10%);

  .sub-title-links {
    text-align: left;
    font-family: @block-graphics;

    @media (max-width:600px){
      text-align:center;
    }
    @media (max-width:385px){
      text-align:left;
    }
  }

  .sub-title {
    border-bottom: 0px;
    padding: 2px 10px;
    margin: 0;

    @media @mobile{
    padding:6px 10px;
    }

    @media (max-width:385px){
        padding: 8px 5px;
    }
  }

  .share-block {
    display: block;
    vertical-align: text-top;

     @media (max-width:600px){
      display:none;
    }

    .link {
      padding-top: 2px !important;
      margin-top: 0 !important;
    }

    i {
      color: @red;
    }
  }
}

.dropcap{
  float: left;
  font-size: 3.4em;
  line-height: 0.5;
  margin: 0.205em 0.05em 0 0;
  
  & span{
  margin-left: -0.5em;
  }
}