<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title_2 %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <!-- scripts for stand-alone projects, comment for embedded projects -->
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_headtwo.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

    <div class="full-width-img top-img">
      <img src="../assets/photos/bg.jpg">
      <div class="caption">Ralph Thurlow (left) and David Spiher at their Hayward home, seen in a combination of two photographs. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
    </div>

    <div class="vignette-title">
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank"><div class="title-not-mobile">Last Men Standing</div></a>
      <div class="title">Hoping, thriving, grieving, surviving</div>
      <div class="deck">Forgotten Survivors of AIDS: Catching up with the Bay Area men who lived through an epidemic and are still fighting for their lives</div>
      <div class="social-container">
        <div class="link-icon">
          <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug_2 %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
        <div class="link-icon">
          <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug_2 %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <div class="link-icon">
          <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title_2 %>&body=<%= grunt.data.json.project.description_2 %>%0A%0A<%= grunt.data.json.project.url %><%= grunt.data.json.project.slug_2 %>">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="author">By Erin Allday</a></div>
      <div class="date">December 2016</div>
    </div>

    <div id="stick-here"></div>
      <%= t.include("partials/_navtwo.html") %>
    <div id="stick-ph"></div>

    <div class="profile-marker" id="dsection">
      <div class="full-width-img vertical no-margin-img">
        <div class="full-width-img vertical">
          <div class='embed-container'>
            <iframe src='https://player.vimeo.com/video/195752857' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
      <div class="profile-header">David Spiher & Ralph Thurlow</div>
      <div class="profile-subhed">Watching the clock</div>
      <%= t.include("partials/vignettes/_davidandralph.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/ralph-and-david/" target="_blank"><div class="vignette-link">Read Ralph Thurlow and David Spiher's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="profile-marker" id="gsection">
      <div class="full-width-img super-vertical">
        <img src="http://ww2.hdnux.com/photos/54/11/64/12034992/3/2000x1000.jpg">
        <div class="caption">Ganymede, one of the “Last Men Standing” subjects, takes a deep breath outside his home in Oakland. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
      </div>
      <div class="profile-header">Ganymede</div>
      <div class="profile-subhed">Searching for ‘pathways to humanity’</div>
      <%= t.include("partials/vignettes/_ganymede.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/ganymede/" target="_blank"><div class="vignette-link">Read Ganymede's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="profile-marker" id="ksection">
      <div class="full-width-img vertical">
        <img src="http://ww2.hdnux.com/photos/54/11/64/12035094/3/2000x1000.jpg">
        <div class="caption">Kevin VandenBergh, featured in “Last Men Standing,” gazes out the window of his new apartment in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
      </div>
      <div class="profile-header">Kevin VandenBergh</div>
      <div class="profile-subhed">Battling demons and darkness</div>
      <%= t.include("partials/vignettes/_kevin.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/kevin-vandenbergh/" target="_blank"><div class="vignette-link">Read Kevin VandenBergh's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="profile-marker" id="hsection">
      <div class="full-width-img vertical">
        <img src="http://ww2.hdnux.com/photos/54/11/64/12035056/3/2000x1000.jpg">
        <div class="caption">Harry Breaux looks out the front door of his new apartment building in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
      </div>
      <div class="profile-header">Harry Breaux</div>
      <div class="profile-subhed">A fresh disappointment, a new focus</div>
      <%= t.include("partials/vignettes/_harry.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/harry-breaux/" target="_blank"><div class="vignette-link">Read Harry Breaux's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="profile-marker" id="msection">
      <div class="full-width-img vertical">
        <img src="http://ww2.hdnux.com/photos/54/11/64/12035100/3/2000x1000.jpg">
        <div class="caption">Mick Robinson, who was featured in “Last Men Standing,” has been taking classes and volunteering in San Francisco. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
      </div>
      <div class="profile-header">Mick Robinson</div>
      <div class="profile-subhed">Busy all day, up all night</div>
      <%= t.include("partials/vignettes/_mick.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/mick-robinson/" target="_blank"><div class="vignette-link">Read Mick Robinson's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="profile-marker" id="psection">
      <div class="full-width-img vertical">
        <img src="http://ww2.hdnux.com/photos/54/11/64/12034985/3/2000x1000.jpg">
        <div class="caption">Eileen Glutzer drinks from a mug painted by her late friend, Peter Greene, who had made her a mug every year as a gift. <span class="byline">Erin Brethauer, Special to The Chronicle</span></div>
      </div>
      <div class="profile-header">Peter Greene and Eileen Glutzer</div>
      <div class="profile-subhed">Confronting the death of a friend</div>
      <%= t.include("partials/vignettes/_peter.html") %>
      <a href="http://projects.sfchronicle.com/2016/living-with-aids/peter-greene/" target="_blank"><div class="vignette-link last">Read Peter Greene's original story in “Last Men Standing.”</div></a>
    </div>

    <div class="vignettes-credits">
      <%= t.include("partials/_credits.html") %>
    </div>
    <%= t.include("partials/_vignettes_footer.html") %>

    <script src="../vignettes_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
